<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://@gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com:4000/test</property>
        <property name="hibernate.connection.username">4GBobmhwGqR62Pz.root</property>
        <property name="hibernate.connection.password">LZ69ElSkQENkNUX1</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="io.virinchi.model.UserClass"/>
    </session-factory>
</hibernate-configuration>